<html>
    <head>
        {% if title %}
        <title>{{ title }} - GHOSTPETALS</title>
        {% else %}
        <title>GHOST PETAL'S SITE</title>
        {% endif %}
    </head>
    <section>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">HOME</a></li>
                <li><a href="{{ url_for('stream') }}">STREAM</a></li>
                <li><a href="{{ url_for('download') }}">DOWNLOAD</a></li>
                <li><a href="{{ url_for('gallery') }}">GALLERY</a></li>
            </ul>
        </nav>
    </section>
        {% block content %}{% endblock %}
    </body>
</html>
