<html>
    <head>
        <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
        <link href="static/bootstrap.min.css" rel ="stylesheet" type="text/css">
        {% if title %}
        <title>{{ title }} - GHOSTPETALS</title>
        {% else %}
        <title>GHOST PETAL'S SITE</title>
        {% endif %}
    </head>
    <nav class ="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor02"aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        
            







    </nav>
            <section>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">HOME</a></li>
                <li><a href="{{ url_for('stream') }}">STREAM</a></li>
                <li><a href="{{ url_for('download') }}">DOWNLOAD</a></li>
                <li><a href="{{ url_for('gallery') }}">GALLERY</a></li>
            </ul>
        </nav>
    </section>
        {% block content %}{% endblock %}
    </body>
</html>
