{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="page-header text-center">
        <h1>Ghost Petal</h1>
    </div>
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <img class="img-responsive" src="{{ url_for('static',
                                    filename='/static/cover_art.png')}}"
                                    alt="">
        <div class="overlay">
            <h2>Test</h2>
            <p>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>

                <a href="#">
                    <i class="fa fa-dribble"></i>
                </a>
            </p>
        </div>
    </div>
</div>
    











    <body>
        <div class="jumbotron">
            <div class="text-center">
                <h3>This is Ghost Petal's Debut Album</h3>
            </div>

        </div>
    </body>
</div>

{% endblock %}
