{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="page-header text-center m-5">
        <h1>Ghost Petal</h1>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive shadow center-block d-block mx-auto"
                src="{{url_for('static',filename='cover_art.png')}}"alt="profilehover"
                width=50%>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p class="lead text-center m-5">THIS IS A TEST STRING TO GO AT THE CENTER OF THE PAGE UNDER THE PICTURE</p>
    </div>
</section>

{% endblock %}
