{% extends "base.html" %}

{% block content %}
    <aside>    
        <audio controls="controls" autoplay="autoplay"></audio>
            <div class="btn-group-vertical">
                {% for song in songs %}
                    <button type="button" class="btn btn-primary">
                        <a onclick="changeSong('{{song}}')"href="javascript:void(0);">{{song}}</a>
                    </button>
                {% endfor %}
            </div>
    </aside>





    <script type="text/javascript">
        function changeSong(song){
            $('audio').attr('src', '/static/ghostpetalssongs/'+song);
        }
    </script>

{% endblock %}
